@import url("https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap");
/* ---VARIABLES--- */
:root {
  --green: #2ecc75;
  --white: white;
  --ff--:'Poppins',sans-serif;
  --dark-grey: #191919;
}




@import url("https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff--);
  text-decoration: none;
  background-color: black;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
span {
  color: var(--green);
}

a {
  text-decoration: none;
}

#hero22 {
  position: relative;
  left: 20px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: white;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: var(--green);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid var(--green);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: var(--green);
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: var(--green);
}
 



/* ---SECTION STARTS HERE--- */

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))black;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-width {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0px 20px;

}

/* ---HEADER STARTS HERE--- */

header {
  padding: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

}

.portfolio {
  color: var(--white);
  font-size: 48px;
  display: inline-block;
  font-family: var(--ff--);
  margin-left: 45px;
}


/* ---NAV STARTS HERE--- */

nav .hamb{
  width: 35px;
  height: 24px;
  right: 3%;
  top: 60px;
  z-index: 5;
  background: var(--white);
  position: absolute;
  cursor: pointer;
  display: none;
}

nav .hamb span {
  display: block;
  width: 100%;
  height: 3px;
  transition: .3s;
  transition-property: transform, opacity;

}

nav .hamb span:nth-child(2){
  margin: 7px 0px;

}

nav .nav-list {
  list-style: none;
}

nav .nav-list li {
  display: inline-block;
}

nav .nav-list li a {
  display: inline-block;
  color: var(--white);
  margin-left: 55px;
  font-size: 15px;
  font-weight: 600;

}


nav .nav-list li:not(:last-child) a:hover{
  color: var(--green);
  transition: .4s;

}

nav .nav-list li.btn a {
  display: inline-block;
  background: transparent;
  border: 2px solid var(--green);
  padding: 9px 28px;
  border-radius: 30px;
  line-height: 1.3;
  color: var(--green);
  font-weight: 500;

}

nav .nav-list li.btn:hover a {
  background: var(--green);
  color: var(--white);
  border: 2px solid transparent;
  transition: .4s;

}

/* ---NAV ENDS HERE--- */

/* --- HEADER ENDS HERE--- */

.container {
  padding-top: 135px;
  margin-left: 45px;

}

.wrapper {
  height: 400px;
  width: 400px;
  position: absolute;
  left: 660px;
  top: -216px;
  border: 5px solid var(--white);
  border-radius: 50%;
  background: url(./images/sossa.JPG);
  background-size: 100% auto;
  background-position: center;
  margin: 100px auto;
  overflow: hidden;
}

.container .hero-text {
  padding: 2%;
  position: relative;
}

.container .hero-text h1{
  color: var(--white);
  font-size: 47px;
  font-weight: 900;
  line-height: 1.2;
  margin: 20px 0px 20px;

}

.container .hero-text h3 {
  color: var(--white);
  font-weight: 400;
  font-size: 17px;

}


.social a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: var(--white);
  cursor: pointer;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 35px;
}

.social a:hover {
  transform: scale(1.1);
  background: var(--green);
  transition: .4s;
}


.line {
  border-left: 8px solid var(--green);
  height: 400px;
  width: 2px;
  position: absolute;
  left: 38%;
  top: 100px;
}

/* ---HEADER ENDS HERE--- */

/* ---ARTICLE/ABOUT ME STARTS HERE--- */

.horizontalLine {
  padding: 100px;

}

.horizontal {
  width: 100%;
  height: 45px;
  position: relative;
}

.horizontal::before , .horizontal::after {
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: var(--white);
  width: 45%;
  top: 50%;
}

.horizontal::after {
  left: 0;
}

.horizontal::before {
  right: 0;
}

.circle {
  height: 40px;
  width: 40px;
  border: 2px solid var(--green);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;


}

.about-me {
  width: 100px;
  padding: 100px 0px;
  background-color: black;

}

.about-me img {
  height: auto;
  width: 300px;
  top: 70px;
  
}

.about-text {
  width: 550px;
  

}

.about-me{
  width: 1100px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 100px;

}

.about-text h2 {
  color: var(--white);
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 23px;
  text-transform: capitalize;
  font-family: var(--ff--);

}

.about-text h5 {
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0px 20px;


}


.hori-line-2 {
  padding: 100px;


}

.horizontal-2 {
  width: 100%;
  height: 45px;
  position: relative;
}

.horizontal-2::before , .horizontal-2::after {
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: var(--white);
  width: 45%;
  top: 50%;
}

.horizontal-2::after {
  left: 0;
}

.horizontal-2::before {
  right: 0;
}

.circle-2 {
  height: 40px;
  width: 40px;
  border: 2px solid var(--green);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;


}

/*---ARTICLE SERVICE SECTION STARTS---*/ 
.projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.projects-header h1 {
  margin-bottom: 50px;
}
.all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
.project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  
  color: white;
}
.project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
.project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
.project-info p {
  color: white;
}
.project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.project-img a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
.project-img img {
  transition: 0.3s ease transform;
}
.project-item:hover .project-img img {
  transform: scale(1.1);
}






/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }

  /* Hero */
  .container h1 {
    font-size: 7rem;
  }
  /* End Hero */

  /* Project */
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End Project */

  /* About */
 .about-me {
    flex-direction: row;
  }
  .about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  .about-me img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid var(--green);
  }
 
  /* End About */



/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End header */
}
/* End  Media Query For Desktop */